/*selector unirvesal*/

*{
    margin: 0;
    padding: 0;
}


/*selector de etiqueta*/

body{
    background-color: antiquewhite;
    color: white;
}

/*selector id*/
#contenedor{
    width: 1310px;
    height: 2200px;
    background-color:dimgray;
    margin: 10px;
    padding: 20px;
}

#encabezado{
    width: 95%;
    background-color:cornflowerblue;
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}

#menu{
    height: 2%;
    background-color:beige;
    margin: 1em;
    border-radius: 5px;
}

/*selector de etiqueta para el menu*/
ul{
    text-align: center;
    padding: 10px;
}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}
li a:hover{
    color:blueviolet;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    
}
/*selector de clase*/
.img{
    width: 30%;
    border-radius: 30px;
    justify-items: center;

}
.texto{
    text-align: justify;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px 25px;
    color:beige;
    font-style: italic;
}
img:hover{
    width: 50%;
}
.pie{
   height: 30px;
   background-color:darkolivegreen;
   margin: 2em;
   text-align: center;
   padding: 5px;
}
.pie h4{
    padding: 2px;
    color: black;
    font-size: 20px;
}
 /*card*/

 .card{
    box-shadow: 0 4px 8px 0 black;
    overflow: hidden;
    max-width: 300px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
 }
 .card :hover{
    max-width: 300px;

 }
 .card img{
    background-color: white;
 }
 .tittle{
    color: aquamarine;
    font-size: 10px;
 }
button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.scope-one-regular {
    font-family: "Scope One", serif;
    font-weight: 400;
    font-style: normal;
  }
  .linea{
    width: 80%;
    height: 1px;
    background-color: #000;
    margin: 20px  auto;
  }
  .Flex{
    display: flex;
    flex-direction:row;
    width: 1240px;
    height: 400px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    padding: 10px;
    
}
/*carde*/

.carde{
    box-shadow: 0 4px 8px 0 black;
    overflow: hidden;
    max-width: 320px;
    max-height: 300px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
 }
 .carde img{
    background-color: beige;
 }
  
  
  
  
  
